.padding-top{
	padding-top: 5px;
}

.playing{
	background-color: #FFFED1;
}

.padding-bottom{
	padding-bottom: 20px;
}

.padding-left{
	padding-left: 5px;
}

.padding-right{
	padding-right: 5px;
}

.volslider{
	padding: 15px;
	margin: 5px;
}

.progress{
	width: 95%;
	height: 30px;
}

.container{
	padding: 5px;
}