body{
	font-family: Calibri,Tahoma,"Lucida Sans Unicode","Lucida Grande",verdana,sans,Arial,geneva,sans-serif;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 400;
	color: #7E7E7E;
	background: #1E1E1E;
	overflow-x: hidden;
	height: 100%;
}

footer{
	padding-left: 5px;	
}

.btn-ttc,
.btn-ttc:hover,
.btn-ttc:active {
  color: white;
  border-color: #6E726E;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #474746;
}

.padding-top{
	padding-top: 5px;
}

.playing{
	background-color: #F5ED35;
}

.media-ttc{
	border-radius: 3px;
}

.media-ttc:hover{
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #EDF7EC;
	border-radius: 3px;
}


.padding-bottom{
	padding-bottom: 20px;
}

.padding-left{
	padding-left: 20px;
}

.padding-right{
	padding-right: 20px;
}

.volslider{
	padding: 10px;
	margin: 5px;
}

.progress{
	width: 100%;
	height: 30px;
}

.container{
	padding: 5px;
}