body{
	background-color: #000;
}

footer{
	padding-left: 5px;	
}

.btn-ttc,
.btn-ttc:hover,
.btn-ttc:active {
  color: white;
  border-color: #1C971E;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #00CA36;
}

.padding-top{
	padding-top: 5px;
}

.playing{
	background-color: #FFFED1;
}

.padding-bottom{
	padding-bottom: 20px;
}

.padding-left{
	padding-left: 20px;
}

.padding-right{
	padding-right: 15px;
}

.volslider{
	padding: 10px;
	margin: 5px;
}

.progress{
	width: 100%;
	height: 30px;
}

.container{
	padding: 5px;
}